<sisep-base [titulo]="'PANEL DE AUXILIO'" [subtitulo]="'Lista de eventos'" [configurar]="false"
    [verBuscadorDirecciones]="false" [menu]="menu">

    <!-- <div botones class="menu-admin">
        <app-menu></app-menu>
    </div> -->

    <div body class="body-content" [ngClass]="theme">

        <mat-card style="margin-top: 5px; margin-left: 5px;">
            <div class="row">
                <div class="col-md-2">
                    <div class="img"></div>
                </div>
                <div style="align-self: center; margin-top: 5px;" class="col-md-7">
                    <h1 class="fechaHora">{{base}}</h1>
                </div>
                <div style="align-self: center; margin-top: 5px;" class="col-md-3">
                    <h2 class="fechaHora">{{fecha}} | {{hora}}</h2>
                </div>
            </div>
        </mat-card>


        <mat-card class="grilla" style="margin-top: 5px; margin-left: 5px;">
            <div class="row">
                <div class="full-width col-md-12" style="padding: 10px; margin-top:3px">
                    <!-- <sisep-table [tipo]="'material'" [rows]="dataSource" [columns]="cols" [filter]="false"
                        [pagination]="true" [pageSize]="13">
                    </sisep-table> -->

                    <!-- <material-table [rows]="dataSource" [columns]="cols" 
                        [filter]="false" [pagination]="true" [pageSize]="12">
                    </material-table> -->

                    <table mat-table [dataSource]="dataSource.data" class="mat-elevation-z8">
                      
                        <!-- N° auxilio Column -->
                        <ng-container style="width:25%" matColumnDef="numauxilio">
                          <th mat-header-cell *matHeaderCellDef> No. Auxilio </th>
                          <td mat-cell *matCellDef="let element"> {{element.nroAuxilio}} </td>
                        </ng-container>
                      
                        <!-- Signos Column -->
                        <ng-container style="width:25%" matColumnDef="signos">
                          <th mat-header-cell *matHeaderCellDef> Signos </th>
                          <td style="background-color: aquamarine;" mat-cell *matCellDef="let element"> {{element.signos ? element.signos.substr(0,70) : ''}} </td>
                        </ng-container>
                      
                        <!-- Ubicacion Column -->
                        <ng-container style="width:25%" matColumnDef="ubicacion">
                          <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                          <td mat-cell *matCellDef="let element"> {{element.ubicacion ? element.ubicacion.substr(0,70) : ''}} </td>
                        </ng-container>
                      
                        <!-- Demora Column -->
                        <ng-container style="width:25%" matColumnDef="demora">
                          <th mat-header-cell *matHeaderCellDef> Demora </th>
                          <td mat-cell *matCellDef="let element"> {{element.demora}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </div>
            </div>
        </mat-card>


        <mat-card *ngIf="puedeVerNoticias" style="margin-top: 5px; margin-left: 5px;">
            <div class="row">
                <h6 style="margin-left: 15px;">Noticias: </h6>
                <div class="col-md-12">{{noticiaActual}}</div>
            </div>
            
        </mat-card>
    </div>
</sisep-base>

<ng-template #estadoTemplate let-row="row" let-value="value">
    <div class="estado-grilla" [style.background]="row.estaColor">{{row.estaDescripcion}}</div>
</ng-template>