<sisep-base [titulo]="'PANEL DE AUXILIO'" [subtitulo]="'Lista de eventos'" [configurar]="false"
    [verBuscadorDirecciones]="false" [menu]="menu">

    <!-- <div botones class="menu-admin">
        <app-menu></app-menu>
    </div> -->

    <div body class="body-content" [ngClass]="theme">
        <mat-card style="margin-top: 5px; margin-left: 5px;">
            <div class="row">
                <div class="col-md-2">
                    <div class="img"></div>
                </div>
                <div style="align-self: center; margin-top: 5px;" class="col-md-7">
                    <h2 class="fechaHora">{{base}}</h2>
                </div>
                <div style="align-self: center; margin-top: 5px;" class="col-md-3">
                    <h2 class="fechaHora">{{fecha}} | {{hora}}</h2>
                </div>
            </div>
        </mat-card>
        <mat-card style="margin-top: 5px; margin-left: 5px;">
            <div class="row">
                <!-- <div class="col-md-6">
                    <div class="sames"></div>
                </div> -->
                <div class="col-md-12">
                    <div class="full-width" style="padding: 10px; margin-top:3px">
                        <sisep-table [tipo]="'material'" [rows]="dataSource" [columns]="cols" [filter]="false"
                            [pagination]="true" [pageSize]="10">
                        </sisep-table>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card *ngIf="puedeVerNoticias" style="margin-top: 5px; margin-left: 5px;">
            <div class="col-md-12">
                Lorem ipsum dolor sit amet consectetur adipiscing elit aliquet laoreet ligula euismod etiam fermentum primis lectus lobortis nisi, litora pellentesque facilisi iaculis duis vitae nullam varius pharetra sem sed senectus netus natoque dictum. In porta sociosqu primis metus pharetra cubilia dictum at volutpat nulla eu, feugiat lacus nec molestie tortor eros sodales hac nibh. Vel magna curabitur senectus ultricies metus rhoncus ultrices, auctor sodales vitae gravida dictum ullamcorper diam, iaculis sollicitudin molestie facilisis pharetra laoreet.
            </div>
        </mat-card>
    </div>
</sisep-base>

<ng-template #estadoTemplate let-row="row" let-value="value">
    <div class="estado-grilla" [style.background]="row.estaColor">{{row.estaDescripcion}}</div>
</ng-template>