<div class="main-container">
    <div class="top-bar">
        <div class="title">Panel de auxilio</div>
        <div class="icon">
            <button mat-icon-button class="same-logo"></button>
        </div>
    </div>
    <div class="info-header" [ngClass]="{'showInfo' : !infoOnOff, 'hideInfo': infoOnOff}">
        <div class="collapse">
            <button mat-icon-button (click)="infoOnOff = !infoOnOff" ><mat-icon *ngIf="!infoOnOff">expand_less</mat-icon><mat-icon *ngIf="infoOnOff">expand_more</mat-icon></button>
            <div>
                <div class="title">
                    <h2>{{base}}</h2>
                    <h4>{{ hora }}  {{ fecha }}</h4>
                </div>
            </div>
        </div>
        <div class="left">
            <div class="content-img">
                <img src="../../../assets/img/Same_1.png" alt="">
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h1>{{base}}</h1>
                <!-- <h2>Informacion extra</h2>
                <span>Informacion extra</span> -->
            </div>
            <div class="hour">
                     <h4>{{ hora }} <b>hs</b></h4>
                    <span>{{ fecha }}</span>
            </div>
        </div>
    </div>

    <div class="content" [ngClass]="{'changeSize': infoOnOff, 'resetSize': !infoOnOff }">
        <div class="rows-name">
            <ng-container *ngFor="let column of columnasPanel">
              <p [style.width]="column.width" *ngIf="isColumnVisible(column)">{{ column.name }}</p>
            </ng-container>
          </div>
          <div class="table">
            <div class="element" [ngClass]="{'red': item.colorFila === 'ROJO', 'green': item.colorFila === 'VERDE', 'yellow': item.colorFila === 'AMARILLO', 'azul': item.colorFila === 'COVID'}" *ngFor="let item of listaEventos">
              <ng-container class="element" *ngFor="let column of columnasPanel">
                <div [class]="column.prop" [ngClass]="{'hidden': !isColumnVisible(column)}" [style.width]="column.width">
                  {{ item[column.prop] }}
                </div>
              </ng-container>
            </div>
          </div>
          
    </div>
    
    <div class="bottom" [ngClass]="{'showNews': !newsOnOf, 'hideNews': newsOnOf}">
        <div class="icon">
            <b style="margin-top:5px;margin-left: 15px;">Noticias</b>
        </div>
        <div class="news">
            <div class="item-news">
                <mat-icon>info</mat-icon>
                <div>
                <p>{{noticiaActual}}</p>
                </div>
            </div>
            <!-- <div class="item-news">
                <mat-icon>info</mat-icon>
                <div>
                <p><b>05/18/2023 09:40hs</b>En un dramático suceso, un paciente gravemente herido ha sido ingresado de emergencia al Hospital Central</p>
                </div>
            </div> -->
        </div>
        <!-- <div class="icon">
            <button mat-flat-button (click)="newsOnOf = !newsOnOf"> <mat-icon *ngIf="!newsOnOf">expand_more</mat-icon><mat-icon *ngIf="newsOnOf">expand_less</mat-icon></button>
            <b>Noticias | <span>40</span></b>
        </div> -->
    </div>

</div>